body {
    font-family: 'Finlandica', sans-serif;
    margin-top: -150px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.section1 {
    height: 700px;
    background-image: url("./images/donation13.jpg");
    background-repeat: no-repeat;
    opacity: 0.8;
    background-size: 100% 100%;
}

.text {
    text-align: center;
    color: white;
    margin: 150px;
}

.top-heading {
    padding-top: 100px;
    font-size: 80px;
    color: #eb3349;
}

.quote {
    font-size: 35px;
    color: yellow;
}

.paragraph {
    font-size: 22px;
    font-weight: 700;
}

.button {
    padding: 20px 45px;
    border-radius: 5px;
    background-color: #eb3349;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-top: 40px;
    size: 50px;
}

.section2 {
    height: 800px;
    margin-top: 170px;
    background-size: 100% 100%;
}

.donate-text {
    text-align: center;
}

.donate-header {
    font-size: 50px;
}

.donate-small-text {
    font-size: 18px;
}

.parent-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.child-card {
    margin-left: 10px;
    margin-right: 10px;
    padding: 40px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

#amount {
    border: 3px solid #f45c43;
    background-color: #FFEEEE;
}

#amount200 {
    color: #f45c43;
}

#other-amount {
    text-align: center;
    color: gray;
}

#hr-line {
    width: 25%;
    border-top: 2px solid grey;
}

#payment-head {
    text-align: center;
    font-size: 30px;
}

.payment-method {
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-name {
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 150px;
    padding-right: 150px;
    color: white;
    text-align: center;
}

#card {
    background-color: #eb3349;
}

#mobile-banking {
    background-color: #f45c43;
}

#net-banking {
    background-color: #ff512f;
}

#button-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

#donate-today-button {
    background-color: #ff512f;
}

.section3 {
    height: 800px;
    margin-top: 100px;
    background-size: 100% 100%;
}

.another-child-card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
}

#c1 {
    background-color: bisque;
}

#c2 {
    background-color: rgb(203, 252, 247);
}

#c3 {
    background-color: rgb(188, 250, 185);
}

#c4 {
    background-color: rgba(178, 251, 220, 0.788);
}

#c5 {
    background-color: rgb(252, 220, 231);
}

.card-paragraph {
    height: 100px;
    width: 180px;
    font-size: 10px;

}


.section4 {
    display: flex;
    margin-top: -150px;
    height: 550px;
}


.section4-text {
    width: 50%;
    padding-left: 50px;
    padding-right: 20px;
}

h1 {
    font-size: 50px;
    font-weight: 15px;
    color: gray;
}

.skip-text {
    color: orange;
}

.paragraph {
    margin: 10px;
    font-weight: 550;
}

.button-section4 {
    margin-top: 20px;
    padding: 20px 40px;
    background-image: linear-gradient(to right, orange, tomato);
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 25px;
    border: none;
    box-shadow: 5px 5px 20px grey;
}

.section4-image-div {
    padding: 30px;
    width: 50%;

}

.section4-image {
    height: 100%;
    width: 100%;
}

.section5 {
    margin-top: 50px;
    display: flex;
    height: 550px;
}

.section5-image-div {
    padding: 30px;
    width: 50%;
}

.section5-image {
    height: 100%;
    width: 100%;
}

.section5-text-div {
    width: 50%;
    padding-left: 50px;
}

.section6 {
    margin-top: 100px;
    height: 450px;
    border: 5px dashed #f45c43;
}

.campaign-heading {
    text-align: center;
}

.campaign-button-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.campaign-button {
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #eb3349;
    border-color: #eb3349;
    background: white;
}

#campaign-head {
    color: #141e30;
}

#our {
    color: #eb3349;
}

footer {
    color: white;
    height: 120px;
    background-color: #0B0D17;
    text-align: center;
}

#footer-text {
    padding: 50px;
}